body {
    background-image: url("../images/floor-tile.png")
       }
    .leon {
      margin-left: 6%;
       }
       .brand {
         margin-left: 14%;
       }
       .navbar {        
          background-color: grey;
       }

     .bio-row{
         font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
         text-size-adjust: 20px;
         line-height: 1.6em;
     }  
     .photo {   
         float: left;
         margin: 20px;
        }
     .p {
        width: 70%;
         float: right;
     }


     /*Contact.html styling here*/
     .head-container {
        margin-left: 6%;
      }
      .contact {
        color:blueviolet;
      }
      .form-container input {
        width: 100%;
        display: block;
        padding: 10px;
      }
      .row-submit button {
        background-color:blueviolet; 
        color:white;
        padding:.10px;
        margin-top: 10px;
      }


      /*Portfolio.html styling here*/

        .port-head {
            width: 70%;
        }
        .h2-row {
            color:blueviolet; 
        }
        .photos-container {
        display: block;
        margin: auto;
        padding: 40px;
        width: 70%;
        border: 2px solid gray;
        margin-bottom: 15%;   
    }
     

 /*Stylling my footer here*/

   footer {
     width:100%;
     border: 1px solid black;
    position: fixed;
     text-align: center;
     border-top: 8px solid #4aaaa5; 
    background-color: #666666;
    padding: 20px;
    bottom: 0px;
    left: 0px;
         }